body { color: #373D49; font-family: Georgia,Cambria,serif; }
h1,h2,h3,h4,h5,h6 { cursor: pointer; color: #373D49; font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif; margin: 10px 0;}
.md-title-collapse { border-bottom: 1px solid #CCC;  }
